// google fonts
@import url("https://fonts.googleapis.com/css?family=PT+Serif|Rufina|Work+Sans&display=swap");
@import "../assets/scss/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: linear-gradient(to left, $blue, $violet);
  max-width: 100vw;
  height: auto;
  padding: 10rem 0;
  @include flex;

}
.App {
  width: 25rem;
  height: 35rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 30px $black;
  margin: 1rem;
  background: $blue;

  .App-header {
    min-height: 10vh;
    border-radius: 1rem 1rem 0 0;
    background-color: $violet;
    color: $white;
    @include flex;

    font-family: $PT;
    font-size: 2rem;
  }
}
